@model Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Esta pagina contendrá el formulario para guardar nuevos clientes
*@
@{

}
<link rel="stylesheet" href="~/css/site1.css" asp-append-version="true" />

<h1> La pagina de edicion funciona!</h1>
    <input asp-for="Id" type="text" class="form-control" />

<form asp-action="Editar" asp-controller="Cliente">
  <div class="form-group">
    <label asp-for="nombre" class="form-label"></label>
    <input asp-for="nombre" type="text" class="form-control" >
    <span asp-validation-for="nombre" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="telefono" class="form-label" ></label>
    <input asp-for="telefono" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="email" for="email">Email</label>
    <input asp-for="email" type="email" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
